@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

@font-face {
  font-family: 'elza-light';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/ElzaTrial-Light.otf') format("opentype");
}

@font-face {
  font-family: 'elza-medium';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/ElzaTrial-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'elza-bold';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/ElzaTrial-Bold.otf') format("opentype");
}

body {
  display: flex;
  align-items: center;
  align-content: center;
}

.image img {
  width: 650px;
  max-width: 650px;
  height: 25rem;
  padding: 0 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.image:hover img{
  transform: scale(1.2); /* Scale the image up on hover */
}

.image img:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.mouse-animation{
  /* animation: scroll 2500ms cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate backwards; */
}
.mouse-animation1{
  filter: blur(2px) brightness(80%);
  /* animation: scroll 2502ms cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate backwards; */
}
.mouse-animation2{
  filter: blur(2px) brightness(70%);
  /* animation: scroll 2504ms cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate backwards; */
}
.mouse-animation3{
  filter: blur(3px) brightness(60%);
  /* animation: scroll 2506ms cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate backwards; */
}
.mouse-animation4{
  filter: blur(4px) brightness(50%);
  /* animation: scroll 2508ms cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate backwards; */
}
.mouse-animation5{
  filter: blur(5px) brightness(50%);
  /* animation: scroll 2512ms cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate backwards; */
}

/* @keyframes scroll {
  0%{
    bottom: 60px;
  }
  100%{
    bottom: 100px;
  }
} */