@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'elza-light';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/ElzaTrial-Light.otf') format("opentype");
}

@font-face {
  font-family: 'elza-medium';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/ElzaTrial-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'elza-bold';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/ElzaTrial-Bold.otf') format("opentype");
}

body {
  display: flex;
  align-items: center;
  align-content: center;
}

.image img {
  width: 650px;
  max-width: 650px;
  height: 25rem;
  padding: 0 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.image:hover img{
  transform: scale(1.2); /* Scale the image up on hover */
}

.image img:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
